body{
    margin: 0;
    padding:0;
}

.box{
    width: 30px;
    height: 30px;
    background-color: #91C1FC;
    border:1px solid black;
    display: inline-block;
    background-size: cover;
}
.row{
line-height: 0;
}

.dirt{
    background-image: url(../images/dirt.png);
}