body{
    margin: 0;
    padding:0;
}

.box{
    width: 30px;
    height: 30px;
    background-color: #91C1FC;
    display: inline-block;
    background-size: cover;
}

#board{
    width: 600px;
    line-height: 0;
}
.row{
line-height: 0;
}

.dirt{
    background-image: url(../images/dirt.png);
}
.box:hover{
    opacity: 0.5;
}