body{
    margin: 0;
    padding:0;
    display: inline-block;
}

.box{
    width: 30px;
    height: 30px;
    background-color: #91C1FC;
    display: inline-block;
    background-size: cover;
    display:inline-block;
}

#board{
    width: 600px;
    line-height: 0;
    display:inline-block;
}
.row{
line-height: 0;
}

.dirt{
    background-image: url(../images/dirt.png);
}

.menuClass{
	height: 600px;
	width: 120px;
	background-color: black;
    display: inline-block;
    margin-left: 200px;
    float: right;

}

.menuClass:hover{
    opacity: 0.5;
}

.box:hover{
    opacity: 0.5;
}

#pickAxeTool{
    height: 60px;
    width: 60px;
    border: 1px solid white;
    background-image: url("../images/pickaxe.png");
    margin-left: 30px;
    margin-top: 60px;
    background-size: cover;
}

#shovelTool{
    height: 60px;
    width: 60px;
    border: 1px solid white;
    background-image: url("../images/shovel.png");
    margin-left: 30px;
    margin-top: 40px;
    background-size: cover;   
}

#axetool{
    height: 60px;
    width: 60px;
    border: 1px solid white;
    background-image: url("../images/axe.png");
    margin-left: 30px;
    margin-top: 40px;
    background-size: cover;  

}

#emptyBoxtool{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    background-color: none;
    margin-left: 45px;
    margin-top: 40px;
    background-size: cover;  

}

@font-face{
    font-family: eightbit;
    src: url("../fonts/PressStart2P-Regular.ttf");
}

.textClass{
    font-family: eightbit;
    font-size: 8px;
    color: white;
    text-align: center;
    padding-top:40px;
}

